dist/
Certifik8.egg-info/
Certifik8/__pycache__/
Certifik8/constants/__pycache__/
Certifik8/modules/__pycache__/
Certifik8/modules/generator/__pycache__/
Certifik8/modules/converter/__pycache__/
Certifik8/modules/handler/__pycache__/
Certifik8/modules/selector/__pycache__/
Certifik8/tests/__pycache__/
poetry.lock
.pytest_cache
.coverage